<% content_for :title do %>Transition Manager Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="orgs_todo" data-view="Number" data-title="Still to Go" data-moreinfo="orgs"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="orgs_done" data-view="Number" data-title="Done" data-moreinfo="orgs"></div>
    </li>
  </ul>
</div>
