<% content_for :title do %>Transition Manager Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-sizex="4" data-sizey="2">
      <div data-id="burndown_chart" data-view="Graph" data-title="Expected (yellow) vs. actual (blue) number of users trained by month"></div>
    </li>
  </ul>
</div>
